@{
    ViewData["Title"] = "Olvide";
}


<div class="bodyRegistro">
    <div class="cajaRegistro">
        <h1> Recuperar Contraseña </h1>
        <h2>@ViewBag.MensajeError</h2>
        <form method="post" action= '@Url.Action("RecuperarContraseña", "Account")'> 
            <h3> Correo Electrónico </h3>
            <input type="email" name="email"> 
            <p> <input class="boton" type="submit" value="ENVIAR">  </p>
        </form>

        @if (@ViewBag.Contra != null)
        {
            <h3>Tu contraseña es: @ViewBag.Contra</h3>
        }

        <a class="icon-link icon-link-hover" href='@Url.Action("Registro", "Home")'>
            ¿No tenés una cuenta?
        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
    </div>
</div>